html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@media screen and (min-width: 800px) {
    /* .icone {
        display: none;
    } */
  }

img[ src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png" ]{display:none;}
/* Import de fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Noto+Sans+Display&family=Roboto:wght@100&display=swap');
/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Color Theme RGBA  SIAND*/
:root{ 
    --cinza: #a5a6a4;
    --verde:  #050505;
    --rose:  #d9d9db; 
    --rose1:  #e9e1c9; 
    --branco:  #e9e9e9ce; 
}

body {
    background-color: var(--branco);
    /* background-image: url('../Img/bg1\ \(cópia\).png'); */
    
}

.conteudo {
    font-family: 'Noto Sans Display', sans-serif; 
    padding: 0;
    margin: 0;     
    /* background-color: #a5a6a4; */
     /* background-position: center top;
    background-repeat: no-repeat;
    */

    
}
.sobre {
    background-image: url(../Img/agenda4.png);
    background-size: 260px;
    background-position: center ;   
    height:     250px;
    width: 100%;
}
.menu {       
    font-family: 'Major Mono Display', monospace;     
    width: 100%;
    background-color: var(--cinza);
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-bottom: 2px solid #43412e;
    font-size: 18px;
}
.men:hover{ 
    text-decoration: underline;   
}
.active { 
    text-decoration: underline;   
}

.logo {   
    height: 120px;
}
.icone {
    position: absolute;
    left: 80%;
    top: 5px;
}

  
